<div>
	<p>Quiz App</p>
</div>
<div>

	<h3>Welcome to Quiz!</h3>
	<button id = "start" ng-click="start(); viewscreen=true;" value="Start">Start Quiz</button>
</div>
<br><br>
<div ng-show="inProgress && viewscreen">
	<div ng-show="!quizOver">
		<h3>{{question}}</h3>
		<ul>
			<li ng-repeat="opt in options">
				<label>{{opt}}</label>
			</li>
		</ul>
		<input type="text" name="name" placeholder="Please enter answer" ng-model="selectedValue" ng-show="!goToNext">
		<button ng-click="validateAns()" ng-show="!goToNext">Submit</button>
	</div>
</div>
</div>
<div ng-show="goToNext">
	<span class="correct" ng-show="correctAns">That is correct!</span>
	<span class="wrong" ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
	<button ng-click="showQuestion()" class="next-question">Next</button>
</div>
<div ng-show="inProgress">
	<h4 id= "score">SCORE: <label>{{score}}</label></h4>
</div>